
body {
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 0;
      }

h1 {
  margin: 10 0 0 0;
  font-family: 'Caveat',sans-serif;
  font-size: 50px;

}

h2 {
  font-family: 'Caveat', sans-serif;
  font-size: 50px;
  margin: 0;

    }

h3 {
    font-family: 'Montserrat', sans-serif;
    }

p {
  font-family:'Shadows Into Light';
  font-size: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 0;
  position: relative;
  left: 640px;
}

.img-mountain {
  height: 300px;
  width: 500px;
  padding-bottom: 100px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding: 80px;
  padding-bottom: 0;
}

.middle-container {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 20px;

}

.bottom-container {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 20px;

}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 450px;

}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 400px;

}
 .icon-skills {
   position: relative;
   height:100px;
   width:100px;
   margin-top: 10px;


 }

 .icon-languages {
   position: relative;
   height:100px;
   width: 100px;
 }

.table-skills {

  position: relative;
  text-align: center;
  padding-left: 400px;

}

.table-languages {
  position: relative;
  padding-left: 430px;
}


.skills {
  background-color: #DDF3F5;
  position: relative;
  margin: 0;
}

.contact-me {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 10px;
}

.languages {
  background-color: #DDF3F5;
  margin: 0;

}

.icon-star {
  width: 20px;
  height: 20px;
}
