
body {
  background-color: #DDF3F5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

      }

h1 {
  margin: 10 0 0 0;
  font-family: 'Caveat',sans-serif;
  font-size: 5.625rem;
  color: #54BAB9;

}

h2 {
  font-family: 'Caveat', sans-serif;
  font-size: 4.125rem;
  margin: 0;
  color: #66BFBF;
    }

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    }

p {
  font-family:'Shadows Into Light';
  font-size: 2.125rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  margin: 20 auto 20 auto;
  position: relative;

}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding: 80px;
  padding-bottom: 0;
}

.middle-container {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 20px;
}

.img-mountain {
  height: 300px;
  width: 500px;
  padding-bottom: 100px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 350px;
}

.description-header {
  margin-left: 200px;
}

.skills {
  background-color: #DDF3F5;
  position: relative;
  margin: 0;
}

 .icon-skills {
   position: relative;
   height:100px;
   width:100px;
   margin-top: 10px;
 }

 .table-skills {
   position: relative;
   margin: auto;
 }

 .icon-languages {
   position: relative;
   height:100px;
   width: 100px;
 }

 .languages {
   background-color: #DDF3F5;
   margin: 0;

 }

.table-languages {
  position: relative;
  margin: auto;
}

.contact-me {
  background-color: #DDF3F5;
  position: relative;
  padding-bottom: 10px;
}

.icon-star {
  width: 20px;
  height: 20px;
}

.footer-link {
  color: #11999E;
}
